---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Track Movies on Your Watch">
	<div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Keep Track of What You Watch</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Don't lose all the TV series and movies you watch anymore. Have your entire archive at your fingertips when giving advice to your loved ones!</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/movies" class="btn btn-danger btn-lg px-4 me-sm-3">Add Movie</a>
            <a href="/series" class="btn btn-outline-dark btn-lg px-4">Add Series</a>
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 45vh;">
          <div class="container px-5">
            <img src="https://github.com/sonatipek/track-the-movies/assets/80075444/01e38668-27ab-44eb-8139-1b27639b73c5" class="img-fluid border rounded-3 shadow-lg mb-4" alt="add movie page" width="700" height="500" loading="lazy">
          </div>
        </div>
      </div>
</Layout>