---
import Layout from "../layouts/Layout.astro";

---

<Layout title="TMYW | Movies">
    <main class="container mt-5">

        <div class="card mb-4 rounded-3 shadow-sm border-danger-subtle">
            <div class="card-header py-3 bg-danger-subtle text-danger-emphasis border-danger-subtle">
              <h4 class="my-0 fw-normal">Add Movie</h4>
            </div>
            <div class="card-body">
              <form class="row needs-validation" x-data novalidate>

                <!-- Title -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="movie-title" placeholder="Star Wars" required>
                        <label for="movie-title">Movie Title</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Genre -->
                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select" id="movie-genre" aria-label="Movie Genre" required>
                            <option selected disabled value="">Please make your selection</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Anomation">Anomation</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Drama">Drama</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Horror">Horror</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Romance">Romance</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Thriller">Thriller</option>
                            <option value="War">War</option>
                            <option value="Sport">Sport</option>
                            <option value="Western">Western</option>
                            <option value="Documentary">Documentary</option>
                        </select>
                        <label for="movie-genre">Movie Genre</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Lead Roles -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="movie-leadroles" placeholder="Angeline Jolie, Brad Pitt" required>
                        <label for="movie-leadroles">Lead Roles</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Director -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="movie-director" placeholder="Christoper Nolan" required>
                        <label for="movie-director">Director</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Score -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input x-mask="99" class="form-control form-control-sm" id="movie-score" placeholder="10" required>
                        <label for="movie-score">Your Score</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- IMDB Score -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input x-mask="9,9" class="form-control form-control-sm" id="movie-imdb" placeholder="9,2" required>
                        <label for="movie-imdb">IMDb Score</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Poster Link -->
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="movie-poster" placeholder="https://..." required>
                        <label for="movie-poster">Movie Poster Link</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>
                <button id="btn__add-movies" type="submit" class="col-md-12 btn btn-lg btn-danger shadow-sm">Add The Movie</button>
              </form>

            </div>
        </div>
    </main>

    <!-- Table -->
    <section class="row my-5 container mx-auto">
        <div class="table-responsive">
            <table class="table table-responsive table-hover text-center align-middle table-striped-columns shadow">
                <thead class="table-danger">
                    <tr>
                        <th scope="col">Movie Poster</th>
                        <th scope="col">Movie Title</th>
                        <th scope="col">Movie Genre</th>
                        <th scope="col">Lead Roles</th>
                        <th scope="col">Director</th>
                        <th scope="col">Your Score</th>
                        <th scope="col">IMDb Score</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="movie-tbody">
                </tbody>
            </table>
        </div>
        <button id="delete-all" class="btn btn-dark col-md-3 ms-auto me-md-3 mt-3">Delete All Movies</button>
    </section>
</Layout>

<script>
    import {Movies} from "../../src/utils/movie";

    let form = document.querySelector('form');
    // Inputs
    let movieTitle = document.querySelector('#movie-title'),
        movieGenre = document.querySelector('#movie-genre'),
        movieLeads = document.querySelector('#movie-leadroles'),
        movieDirector = document.querySelector('#movie-director'),
        movieUserScore = document.querySelector('#movie-score'),
        movieIMDB = document.querySelector('#movie-imdb'),
        moviePosterLink = document.querySelector('#movie-poster');
    
    // When Page on Loaded
    document.addEventListener('DOMContentLoaded', () => {
        Movies.loadAllData();

        
        // When clicked the delete-all button
        Movies.deleteAllData('#movie-tbody','#delete-all', 'movies');

        // When Clicked the delete movie button. 
        Movies.deleteData('#movie-tbody', 'delete-movie', 'movies');
    });
    
    
    // When form on submit
    form.addEventListener('submit', (e) => {
        
        // Create Movie
        const movie = new Movies(movieTitle.value, movieGenre.value, movieLeads.value, movieDirector.value, movieUserScore.value, movieIMDB.value, moviePosterLink.value);

        if (movieTitle.value === "" || movieGenre.value === "" || movieLeads.value === "" || movieDirector.value === "" || movieUserScore.value === "" || movieIMDB.value === "" || moviePosterLink.value === "") {
            console.log(false);
        }else{
            // Movie add to UI
            movie.addDataToUI();
            Movies.addDataToStorage('movies', movie);
            
            // Clear Inputs
            Movies.clearInputs([movieTitle, movieGenre, movieLeads, movieDirector, movieUserScore, movieIMDB, moviePosterLink]);
            
            // When Clicked the delete movie button. 
           Movies.deleteData('#movie-tbody', 'delete-movie', 'movies');
        }
        
        

        e.preventDefault();
    });


    // Bootstrap form validation
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>

