---
import Layout from "../layouts/Layout.astro";

---

<Layout title="TTYMW | Seriess">
    <main class="container mt-5">

        <div class="card mb-4 rounded-3 shadow-sm border-warning-subtle">
            <div class="card-header py-3 bg-warning-subtle text-warning-emphasis border-warning-subtle">
              <h4 class="my-0 fw-normal">Add Series</h4>
            </div>
            <div class="card-body">
              <form class="row needs-validation" x-data novalidate>

                <!-- Title -->
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="series-title" placeholder="Star Wars" required>
                        <label for="series-title">Series Title</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>  
                    </div>
                </div>

                <!-- Genre -->
                <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-select" id="series-genre" aria-label="Series Genre" required>
                            <option selected disabled value="">Please make your selection</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Anomation">Anomation</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Drama">Drama</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Horror">Horror</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Romance">Romance</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Thriller">Thriller</option>
                            <option value="War">War</option>
                            <option value="Sport">Sport</option>
                            <option value="Western">Western</option>
                            <option value="Documentary">Documentary</option>
                        </select>
                        <label for="series-genre">Series Genre</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Lead Roles -->
                <div class="col-md-5">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="series-leadroles" placeholder="Angeline Jolie, Brad Pitt" required>
                        <label for="series-leadroles">Lead Roles</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Director -->
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="series-director" placeholder="Christoper Nolan" required>
                        <label for="series-director">Director</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Season -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input x-mask="99" class="form-control form-control-sm" id="series-season" placeholder="10" required>
                        <label for="series-season">Number of Seasons</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>


                <!-- Score -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input x-mask="99" class="form-control form-control-sm" id="series-score" placeholder="10" required>
                        <label for="series-score">Your Score</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- IMDB Score -->
                <div class="col-md-2">
                    <div class="form-floating mb-3">
                        <input x-mask="9,9" class="form-control form-control-sm" id="series-imdb" placeholder="9,2" required>
                        <label for="series-imdb">IMDb Score</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <!-- Poster Link -->
                <div class="col-md-7">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control form-control-sm" id="series-poster" placeholder="https://..." required>
                        <label for="series-poster">Series Poster Link</label>
                        <div class="invalid-feedback">
                            Please make sure to fill out the input
                        </div>
                    </div>
                </div>

                <button type="submit" class="col-12 btn btn-lg btn-warning shadow-sm">Add The Series</button>
              </form>

            </div>
        </div>
    </main>
    
    <!-- Table -->
    <section class="row my-5 container mx-auto">
        <div class="table responsive">
            <table class="table table-hover align-middle text-center table-striped-columns shadow">
                <thead class="table-warning">
                    <tr>
                        <th scope="col">Series Poster</th>
                        <th scope="col">Series Title</th>
                        <th scope="col">Series Genre</th>
                        <th scope="col">Lead Roles</th>
                        <th scope="col">Director</th>
                        <th scope="col">Number of Season</th>
                        <th scope="col">Your Score</th>
                        <th scope="col">IMDb Score</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="series-tbody">
                </tbody>
            </table>  
        </div>
        <button id="delete-all" class="btn btn-dark col-md-3 ms-auto me-md-3 mt-3">Delete All Series</button>
    </section>
</Layout>


<script>
    import {Series} from "../../src/utils/series";

    let form = document.querySelector('form');
    // Inputs
    let seriesTitle = document.querySelector('#series-title'),
        seriesGenre = document.querySelector('#series-genre'),
        seriesLeads = document.querySelector('#series-leadroles'),
        seriesDirector = document.querySelector('#series-director'),
        seriesSeasons = document.querySelector('#series-season'),
        seriesUserScore = document.querySelector('#series-score'),
        seriesIMDB = document.querySelector('#series-imdb'),
        seriesPosterLink = document.querySelector('#series-poster');


    
    // When Page on Loaded
    document.addEventListener('DOMContentLoaded', () => {
        Series.loadAllData();

        
        // When clicked the delete-all button
        Series.deleteAllData('#series-tbody','#delete-all', 'series');

        // When Clicked the delete movie button. 
        Series.deleteData('#series-tbody', 'delete-series', 'series');
    });

    // When form on submit
    form.addEventListener('submit', (e) => {
        
        // Create Movie
        const series = new Series(seriesTitle.value, seriesGenre.value, seriesLeads.value, seriesDirector.value, seriesSeasons.value, seriesUserScore.value, seriesIMDB.value, seriesPosterLink.value);
        
        if (seriesTitle.value === "" || seriesGenre.value === "" || seriesLeads.value === "" || seriesDirector.value === "" || seriesUserScore.value === "" || seriesIMDB.value === "" || seriesPosterLink.value === "" || seriesSeasons.value === "") {
            e.preventDefault();
            
        }else{
            // Movie add to UI
            series.addDataToUI();
            Series.addDataToStorage('series', series);
            
            // Clear Inputs
            Series.clearInputs([seriesTitle, seriesGenre, seriesLeads, seriesDirector, seriesSeasons, seriesUserScore, seriesIMDB, seriesPosterLink]);
            
            // When Clicked the delete movie button. 
            Series.deleteData('#series-tbody', 'delete-series', 'series');
        }
    });

    // Bootstrap form validation
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>