---

---
<div class="border-top">
    <footer class="container d-flex flex-wrap justify-content-md-between justify-content-center align-items-center py-3 my-4">
        <p class="order-3 order-md-1 col-md-4 col-12 mb-0 text-body-secondary text-md-start text-center mt-3 mt-md-0">© 2023 <a class="link-danger link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/sonatipek">Sonat Saygın İpek</a></p>
    
        <a href="/" class="order-1 order-md-2 col-md-4 col-12 d-flex align-items-center justify-content-center me-md-auto link-body-emphasis text-decoration-none">
            <img width="200" src="/footerlogo.svg" alt="logo brand">
        </a>
    
        <ul class="order-2 order-md-3 nav col-md-4 col-12 justify-content-md-end justify-content-center my-3 my-md-0">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Movies</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Series</a></li>        
        </ul>
    </footer>

</div>