---

---
<div class="border-top">
    <footer class="container d-flex flex-wrap justify-content-md-between align-items-center py-3 my-4">
        <p class="col-md-4 col-12 mb-0 text-body-secondary">© 2023 Sonat Saygın İpek</p>
    
        <a href="/" class="col-md-4 col-12 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img width="200" src="/footerlogo.svg" alt="logo brand">
        </a>
    
        <ul class="nav col-md-4 col-12 justify-content-md-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Movies</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Series</a></li>        
        </ul>
    </footer>

</div>